1º DAM/Lenguajes de Marcas/2º Evaluación/TEMA 4 XML/Ejercicios/Ejercicio2/Ejercicio2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nombre"/>
        <xs:element name="nacimiento">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="dia"/>
                <xs:attribute type="xs:string" name="mes"/>
                <xs:attribute type="xs:short" name="anio"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="direccion">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="calle"/>
              <xs:element type="xs:string" name="poblacion"/>
              <xs:element type="xs:string" name="provincia"/>
              <xs:element type="xs:short" name="codigopostal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>