1º DAM/Lenguajes de Marcas/2º Evaluación/TEMA 4 XML/Ejercicios/Ejercicio1/Ejercicio1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="libros">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="libro1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="titulo"/>
              <xs:element type="xs:string" name="autores"/>
              <xs:element type="xs:string" name="editorial"/>
              <xs:element type="xs:string" name="fechapublicacion"/>
              <xs:element type="xs:float" name="isbn"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="libro2">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="titulo"/>
              <xs:element type="xs:string" name="autores"/>
              <xs:element type="xs:string" name="editorial"/>
              <xs:element type="xs:string" name="fechapublicacion"/>
              <xs:element type="xs:float" name="isbn"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="libro3">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="titulo"/>
              <xs:element type="xs:string" name="autores"/>
              <xs:element type="xs:string" name="editorial"/>
              <xs:element type="xs:string" name="fechapublicacion"/>
              <xs:element type="xs:float" name="isbn"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>