1º DAM/Lenguajes de Marcas/2º Evaluación/TEMA 4 XML/Ejercicios/Ejercicio5/Ejercicio5.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cd">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element type="xs:string" name="fecha"/>
        <xs:element name="canciones">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cancion">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="duracion"/>
                      <xs:attribute type="xs:short" name="anio"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="titulo"/>
              <xs:element name="compositores">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="compositor">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nombre"/>
                          <xs:element type="xs:string" name="apellidos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="productores">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="productor">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nombre"/>
                          <xs:element type="xs:string" name="apellidos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="sello"/>
              <xs:element type="xs:string" name="artista"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>